body, #homepg-wrapper {
    background: rgb(78, 55, 121);
    font-family: 'Calibri';
}

#homepg-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
 
#homepg{
    display:flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#right-part{
    float: right;
}

#welcome{
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 2em;
    text-transform: capitalize;
    text-shadow: 0.5px 0.5px 4px rgba(255,255,255,0.8);
}

#logo{
    display: flex;
    justify-content: center;
}

#button-wrapper{
    justify-content: center;
}

#gif{
    display: flex;
    justify-content: center;
}

#left-part {
    flex-wrap: wrap;
    z-index: 1;
    margin-right: 50px;
}

#button-wrapper {
    position: relative;
    width: 240px;
    height: 100px;
    margin: 30px;
    box-shadow: 20px 20px 50 px rgba(0,0,0,0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}
#button-wrapper #button-containers {
    padding: 20px;
    text-align: center;
    transition: translateY(100px);
    opacity: 0.5;
    transition: 0.5s;
}
#button-wrapper:hover #button-containers {
    transition: translateY(0px);
    opacity: 1;
}
a {
    display: inline-block;
    padding: 8px 20px;
    text-decoration: none;
    font-size: 1.8em;
    color: rgba(255,255,255,1);
    /*
    pointer-events: none;
    
    background: #fff;
    color: #000;
    border-radius: 20px;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    */
}